/* GLOBAL
______________________________________________
______________________________________________ */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,500,600,700,800,900');

:root {
    --couleur-charte: #373cf5;
    --couleur-gris: #5b5b5b;
    --couleur-gris-clair: #f2f2f2;
}

html::-webkit-scrollbar {									/* Scrollbars */
	width: 13px;
	height: 14px;
	background: #AAAAAA;
	border: solid 6px white;
}
html::-webkit-scrollbar-thumb {								/* Barre */
	border: solid 0 transparent;
	background-color: #aaaaaa;
	border-radius: 45px;
}

html {
 overflow-x:hidden;
 max-width:100vw;
}
html body {
 font-size: 12px;
}

html, body, div, p, span, a, table, tr, td, th, tbody{
	font-family: 'Fira Sans', sans-serif !important;
	box-sizing: border-box;
}
table{
	width: 100%;
	max-width:100vw !important;
	margin-inline-start: 0;
    margin-inline-end: 0;
}
p, span{
	line-height: 1.3em;
}
em{
	font-weight: unset !important;
}
img {
    max-width: 100%;
    display: inline-block;
    margin: auto;
	object-fit: contain;
}
tr img {
    display: block;
}











/* options textes
---------------------------------------------- */


/* graisse */
.txt_light, .txt_light p{font-weight:100 !important;}
.txt_regular, .txt_regular p{font-weight:400 !important;}
.txt_bold, .txt_bold p{font-weight:700 !important;}


/* taille */
.txt_petit{font-size: 0.85em !important;}
.txt_normal{font-size: 1em !important;}
.txt_grand{font-size: 1.4em !important;}
.txt_tres_grand{font-size: 2em !important;}
.txt_petit p, 
.txt_normal p, 
.txt_grand p, 
.txt_tres_grand p
{font-size: 1em !important;}


/* couleur */
.txt_noir, html body div .txt_noir p{color:#000000 !important;}
.txt_gris{color:#5b5b5b !important; color:var(--couleur-gris) !important;}
.txt_gris_clair{color:#f2f2f2 !important; color:var(--couleur-gris-clair) !important;}
.txt_blanc, body .txt_blanc p, body .txt_blanc h1, body .txt_blanc h2, body .txt_blanc h3, body .txt_blanc h4, body .txt_blanc h5, body .txt_blanc h6{color:#FFFFFF !important;}
.txt_bleu, .txt_bleu p{color:#3333FF !important; color:var(--couleur-charte) !important;}


/* alignement */
.txt_gauche, 
.txt_gauche p{text-align: left!important;}
.txt_droite, 
.txt_droite p{text-align: right!important;}
.txt_centre, 
.txt_centre p{text-align: center!important;}
.txt_justifier, 
.txt_justifier p{text-align: justify!important;}







/* options blocs
---------------------------------------------- */

.display_inline{display: inline;}
.display_inline-block{display: inline-block;}
.display_block{display: block;}


.fond_noir{background-color:#000000 !important;}
.fond_gris{background-color:#5b5b5b !important;  background-color:var(--couleur-gris) !important;}
.fond_gris_clair{background-color:#f2f2f2 !important; background-color:var(--couleur-gris-clair) !important;}
.fond_blanc{background-color:#FFFFFF !important;}
.fond_bleu{background-color:#3333FF !important;background-color:var(--couleur-charte) !important;}


/* image */

[class*="fond_image"]{
	background-position: center;
	background-repeat: no-repeat;
}
.fond_image_cover{ background-size: cover; }
.fond_image_contain{ background-size: contain; }



.hauteur_100{min-height:100%;}
.hauteur_100px{min-height:100px !important;}
.hauteur_200px{min-height:200px !important;}
.hauteur_300px{min-height:300px !important;}
.hauteur_400px{min-height:400px !important;}
.hauteur_500px{min-height:500px !important;}


.opacity0{ opacity:0; }







/* systeme colonne
---------------------------------------------- */

.contient_col {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
}


.contient_col [class*='col'] {
    flex: 1 1 auto;
    align-self: stretch;
	padding-left: 2%;
	padding-right: 2%;
}
.contient_col .contient_col [class*='col'] {
	padding-left: 0%;
	padding-right: 0%;
}
.contient_col.col_haut [class*='col'] {
    align-self: flex-start;
}
.contient_col.col_centre [class*='col'] {
    align-self: center;
}
.contient_col.col_bas [class*='col'] {
    align-self: flex-end;
}

.col_1 { width: 8.33%; }
.col_2 { width: 16.66%; }
.col_3 { width: 25%; }
.col_4 { width: 33.33%; }
.col_5 { width: 41.66%; }
.col_6 { width: 50%; }
.col_7 { width: 58.33%; }
.col_8 { width: 66.66%; }
.col_9 { width: 75%; }
.col_10 { width: 83.33%; }
.col_11 { width: 91.66%; }
.col_12 { width: 100%; }




@media (max-width:600px){
	.col_1, .col_2, .col_3,.col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12 { width:100%; }
	
	.colxs_1 { width: 8.33%; }
	.colxs_2 { width: 16.66%; }
	.colxs_3 { width: 25%; }
	.colxs_4 { width: 33.33%; }
	.colxs_5 { width: 41.66%; }
	.colxs_6 { width: 50%; }
	.colxs_7 { width: 58.33%; }
	.colxs_8 { width: 66.66%; }
	.colxs_9 { width: 75%; }
	.colxs_10 { width: 83.33%; }
	.colxs_11 { width: 91.66%; }
	.colxs_12 { width: 100%; }
	
	.cache_mobile{ display: none !important;}
}

@media (min-width:600px){
	.cache_desktop{ display: none !important;}
}
@media (max-width:600px){
	.cache_mobile{ display: none !important;}
}







/* systeme padding
---------------------------------------------- */

.padding_cadre{ padding: 4em !important; } 
.padding_cadre_demi{ padding: 2em !important; } 
.padding_cadre_light{ padding: 1em !important; }
.padding_cadre_extralight{ padding: 0.5em !important; }

.padding_top{ padding-top: 4em !important; } 
.padding_top_demi{ padding-top: 2em !important; } 
.padding_top_light{ padding-top: 1em !important; }

.padding_top_bot{ padding-top: 4em !important; padding-bottom: 4.5em !important; } 
.padding_top_bot_demi{ padding-top: 2em !important; padding-bottom: 2.25em !important; } 
.padding_top_bot_light{ padding-top: 1em !important; padding-bottom: 1em !important; }

.padding_bot{ padding-bottom: 4.5em !important; } 
.padding_bot_demi{ padding-bottom: 2.25em !important; } 
.padding_bot_light{ padding-bottom: 1em !important; }

.padding_left_right, .padding_right_left{ 
	padding-right: 3% !important; 
	padding-left: 3% !important; 
} 
.padding_left{ 
	padding-left: 3% !important; 
} 
.padding_right{ 
	padding-right: 3% !important; 
} 


.margin_cadre{ margin: 4em !important; } 
.margin_cadre_demi{ margin: 2em !important; } 
.margin_cadre_light{ margin: 1em !important; }
.margin_cadre_extralight{ margin: 0.5em !important; }

.margin_top{ margin-top: 4em !important; } 
.margin_top_demi{ margin-top: 2em !important; } 
.margin_top_light{ margin-top: 1em !important; }

.margin_top_bot{ margin-top: 4em !important; margin-bottom: 4.5em !important; } 
.margin_top_bot_demi{ margin-top: 2em !important; margin-bottom: 2.25em !important; } 
.margin_top_bot_light{ margin-top: 1em !important; margin-bottom: 1em !important; }

.margin_bot{ margin-bottom: 4.5em !important; } 
.margin_bot_demi{ margin-bottom: 2.25em !important; } 
.margin_bot_light{ margin-bottom: 1em !important; }
