html {
    background-color: #222222;
}
div, p {
    margin: 0;
    padding: 0;
}
#test-subject {
    position: fixed;
    display: inline-block;
    line-height: 0;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}
html body #screen {
    display: block;
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
    max-width: 800px;
    overflow: hidden;
    text-align: left;
    line-height: 0;
    display: inline-block;
}
#aremplacer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
#aremplacer .image-photo {
    position: absolute;
    top: 6.5%;
    left: 3.7%;
    height: 62%;
    width: 22.7%;
    overflow: hidden;
}
#aremplacer .image-photo #cursorImage {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width: auto;
    object-fit: initial;
    max-width: none;
}
html #aremplacer p.texte-principal {
    position: absolute;
    top: 11.5%;
    left: 28.5%;
    height: 44.5%;
    width: 66.2%;
    font-size: 176%;
    line-height: 125%;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    color: white;
}
html #aremplacer .contient-texte-nom {
    position: absolute;
    top: 60%;
    left: 28.5%;
    height: 7.5%;
    width: 67%;
    font-size: 128%;
    line-height: 125%;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 900;
    color: #373CF5;
    vertical-align: middle;
    display: inline-block;
}
html #aremplacer .contient-texte-nom strong{
    vertical-align: middle;
    height:100%;
    width:1px;
    display: inline-block;
}

html #aremplacer .contient-texte-nom span{
    vertical-align: middle;
    display: inline-block;
}
html #aremplacer span.texte-societe {
    padding-left: 2%;
    font-size: 95% !important;
    font-weight: 300 !important;
    color: #373CF5;
}







/* OUTILS --------------------------------------------------------------------------------------------------------------------------------- */
#outils {
    position: fixed;
    maring: 0;
    padding: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    background-color: #F2F2F2;
    font-size: 12px;
    min-height: 300px;
    max-height: 50vh;
    overflow: auto;
}

nav.menu {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
}

nav.menu a {
    flex: 1 1 auto;
    align-self: stretch;
	padding-left: 0%;
	padding-right: 0%;
    border-bottom: #222222 1px solid; 
    text-align: center;
    display: inline-block;
    font-weight: 700; 
    color: #4D4D4D;
    text-decoration: none;
    line-height: 2em; 
    font-size: 1.5em;
    position: relative;
    transition: 0.25s cubic-bezier(0,.65,.54,.99) all;
}

@media (max-width:600px){
	nav.menu a { width:100%; }
}

nav.menu a:after {
    content: '';
    display: block;
    background: #373CF5;
    width:70%;
    height: 0px;
    position: absolute;
    bottom: -1px;
    left:15%;
    transition: 0.25s cubic-bezier(0,.65,.54,.99) all;
}


nav.menu a.active { 
    color: #373CF5;
}
nav.menu a.active:after {
    height: 5px;
}
nav.menu:hover a.active:not(:hover):after {
    height: 0px;
}

nav.menu a:hover { 
    color: #0000CC;
}
nav.menu a:hover:after {
    height: 5px;
    left:0;
    width:100%;
    background: #0000CC;
}
#the-link{
    background: #373CF5;
    color: white;
}
#the-link:hover{
    background: #0000CC;
}

[id*='zone-']{
    padding: 0; 
	max-width: 900px;
	margin: 0 auto
}



#outils H1 {
    display: block;
    maring: 0;
    padding: 0;
    text-align: left;
    font-size: 18px;
    color: white;
}
#outils p {
    box-sizing: border-box;
    vertical-align: middle;
    display: block;
    margin: 0;
    margin-bottom: 0.2em;
    padding: 0em;
    text-align: left;
    font-size: 15px;
    line-height: 16px !important;
    color: #4D4D4D;
    font-weight: 300;
}
#outils textarea {
    box-sizing: border-box;
    vertical-align: middle;
    display: inline-block;
    font-family: 'Fira Sans';
    margin: 0;
    margin-left: -5px;
    margin-right: 1em;
    padding: 0.25em 0.5em;
    text-align: left;
    background-color: white;
    font-size: 13px;
    border-radius: 0;
    font-weight: 500;
    border: none;
    line-height: 19px;
    width: 100%;
    height: 60px; 
}
#outils input {
    box-sizing: border-box;
    vertical-align: middle;
    display: inline-block;
    font-family: 'Fira Sans';
    margin: 0;
    margin-left: -5px;
    margin-right: 1em;
    margin-bottom: 0.5em;
    padding: 0.25em 0.5em;
    text-align: left;
    background-color: white;
    font-size: 13px;
    border-radius: 0;
    font-weight: 500;
    border: none;
    line-height: 24px;
    height: calc( 24px+ 0.5em);
    width: 100%;
}
#outils input[type="number"] {
    font-size: 14px;
    line-height: 24px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
/* Spin Buttons modified */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background: #4D4D4D url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center;
    border-radius: 0 ;
    background-size: 1.1em;
    width: 1.5em;
    opacity: .5; /* shows Spin Buttons per default (Chrome >= 39) */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
input[type="number"]::-webkit-inner-spin-button:hover, input[type="number"]::-webkit-inner-spin-button:active {
    box-shadow: 0 0 0px #0CF;
    opacity: .8;
}
/* Override browser form filling */
input:-webkit-autofill {
    background: black;
    color: red;
}
#outils button {
    display: inline-block;
    maring: 0;
    padding: 0.5em 1em;
    text-align: left;
    background-color: white;
    font-size: 12px;
    border-radius: 2em;
}
canvas {
    display: none;
}