
#aremplacer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
#aremplacer .image-photo {
    position: absolute;
    top: 4.6%;
    left: 2.8%;
    height: 68.2%;
    width: 24.8%;
    overflow: hidden;
}
#aremplacer .image-photo #cursorImage {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width: auto;
    object-fit: initial;
    max-width: none;
}

#aremplacer .image-logo {
    position: absolute;
    bottom: 4.6%;
    right: 2.7%;
    height: 13.5%;
    width: 40%;
    overflow: hidden;
}
#aremplacer .image-logo #logo {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width: auto;
    object-fit: initial;
    max-width: none;
}

html #aremplacer p.texte-principal {
    position: absolute;
    top: 8%;
    left: 30%;
    height: 52%;
    width: 65.5%;
    font-size: 176%;
    line-height: 125%;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    color: white;
	overflow: hidden;
}
html #aremplacer .contient-texte-nom {
    position: absolute;
    top: 62%;
    left: 30%;
    height: 10.5%;
    width: 67%;
    font-size: 128%;
    line-height: 125%;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 900;
    color: #4D4D4D;
    vertical-align: middle;
    display: inline-block;
	overflow: hidden;
}
html #aremplacer .contient-texte-nom strong{
    vertical-align: middle;
    height:100%;
    width:1px;
    display: inline-block;
}

html #aremplacer .contient-texte-nom span{
    vertical-align: middle;
    display: inline-block;
}
html #aremplacer span.texte-societe {
    padding-left: 2%;
    font-size: 95% !important;
    font-weight: 300 !important;
    color: #4D4D4D;
}

