:root{
	--arrondi:8px;
}



html {
    background-color: #222222;
	font-size:12px;
	
}
div, p {
    margin: 0;
    padding: 0;
}
#test-subject {
    position: fixed;
    display: inline-block;
    line-height: 0;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}
html body #screen {
    display: block;
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
    max-width: 700px;
    overflow: hidden;
    text-align: left;
    line-height: 0;
    display: inline-block;
}


/* OUTILS --------------------------------------------------------------------------------------------------------------------------------- */
.alertie{
	display: block;
	position: absolute;
	top:0;
	bottom: 0;
	right:0;
	left:0;
	background-color: rgba(224,0,3,0.67);
	color: white;
	font-size: 20px;
	font-weight: 800;
	text-align: center;
	padding: 2em;
}

#outils {
    position: fixed;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    background-color: #F2F2F2;
    min-height: 100px;
    max-height: 50vh;
    overflow: auto;
}

#outils .container{
	margin: auto;
	max-width: 800px;
}

nav.menu {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
}

nav.menu a {
	flex: 1 1 auto;
    align-self: stretch;
    padding-left: 0%;
    padding-right: 0%;
    border-bottom: #222222 1px solid;
    text-align: center;
    display: inline-block;
    font-weight: 700;
    color: #4D4D4D;
    text-decoration: none;
    line-height: 1.2em;
    font-size: 1.45rem;
	position: relative;
    padding: 0.77rem 0.25rem;
    transition: 0.25s cubic-bezier(0,.65,.54,.99) all;
}

@media (max-width:600px){
	nav.menu a { width:50%; }
	#outils {font-size:16px;}
	nav.menu a { font-size: 1.2em;}
}

nav.menu a:after {
    content: '';
    display: block;
    background: #373CF5;
    width:70%;
    height: 0px;
    position: absolute;
    bottom: -1px;
    left:15%;
    transition: 0.25s cubic-bezier(0,.65,.54,.99) all;
}


nav.menu a.active { 
    color: #373CF5;
}
nav.menu a.active:after {
    height: 5px;
}
nav.menu:hover a.active:not(:hover):after {
    height: 0px;
}

nav.menu a:hover { 
    color: #0000CC;
}
nav.menu a:hover:after {
    height: 5px;
    left:0;
    width:100%;
    background: #0000CC;
}
#telechargement{
    background: #373CF5;
    color: white;
    transition: 0.25s cubic-bezier(0,.65,.54,.99) all;
    padding-left: 0%;
    padding-right: 0%;
    border-top: #222222 1px solid;
    text-align: center;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    line-height: 1.2em;
    font-size: 1.45rem;
	position: relative;
    padding: 0.75rem 0.25rem;
	width: 100%;
}
#telechargement:hover{
    background: #0000CC;
}

[id*='zone-']{
    padding: 0 1rem; 
	max-width: 900px;
	margin: 0 auto
}



#outils H1 {
    display: block;
    maring: 0;
    padding: 0;
    text-align: left;
    font-size: 18px;
    color: white;
}
#outils p {
    box-sizing: border-box;
    vertical-align: middle;

    display: block;
    margin: 0;
    margin-left: 0.15rem;
    padding: 0em;
    text-align: left;
    font-size: 1rem;
    line-height: 1.2em !important;
    color: #4D4D4D;
    font-weight: 400;
}
#outils textarea {
    box-sizing: border-box;
    vertical-align: middle;
    display: inline-block;
    font-family: 'Fira Sans';
    margin: 0;
    margin-left: 0rem;
    margin-right: 0rem;
    padding: 0.5rem 0.75rem;
    text-align: left;
    background-color: white;
    font-size: 1rem;
    border-radius: var(--arrondi);
    font-weight: 500;
    border: none;
    line-height: 1.3em;
    width: 100%;
    height: 60px; 
}
#outils input {
    box-sizing: border-box;
    vertical-align: middle;
    display: inline-block;
    font-family: 'Fira Sans';
    margin: 0;
    margin-left: 0rem;
    margin-right: 0rem;
    padding: 0.5rem 0.75rem;
    text-align: left;
    background-color: white;
    font-size: 1rem;
    border-radius: 0;
    font-weight: 500;
    border: none;
    line-height: 1.2em;
    height: calc( 24px+ 0.5em);
    width: 100%;
	border-radius: var(--arrondi);
}
#outils input[type="number"] {
    font-size: 1rem;
    line-height: 1.2em;
    width: 100%;
    position: relative;
    overflow: hidden;
}
/* Spin Buttons modified */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background: #4D4D4D url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center;
    border-radius: 0 ;
    background-size: 1.1em;
    width: 1.5em;
    opacity: .5; /* shows Spin Buttons per default (Chrome >= 39) */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
	border-radius: 0 var(--arrondi) var(--arrondi) 0;
}
input[type="number"]::-webkit-inner-spin-button:hover, input[type="number"]::-webkit-inner-spin-button:active {
    box-shadow: 0 0 0px #0CF;
    opacity: .8;
}
/* Override browser form filling */
input:-webkit-autofill {
    background: black;
    color: red;
}
#outils button {
    display: inline-block;
    maring: 0;
    padding: 0.5em 1em;
    text-align: left;
    background-color: white;
    font-size: 12px;
    border-radius: 2em;
}
canvas {
    display: none;
}